.banana-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	width: 8vw;
	height: auto;
}

h1 {
	font-family: Banaan;
	font-size: 8vw;
	color: var(--olive);
	margin-bottom: 2vh;
}
